---
title: About FreeCONF
linkTitle: About
menu:
  main:
    weight: 10

---

{{< blocks/cover title="About FreeCONF" image_anchor="bottom" height="min" >}}
{{< /blocks/cover >}}

{{% blocks/lead %}}
FreeCONF is a sophisticated, open source, software library that seamlessly <a href="/docs/reference/resources/#tools-and-implementations">integrates with a growing set of popular DevOps tools</a>, leveraging a universally-accepted communication protocol known as RESTCONF. Project was <a href="/docs/overview/history-of-freeconf/">started in 2015</a> as RESTCONF was heading towards an official standard. This protocol, which bears some resemblance to gRPC, has been tailored specifically for management purposes, and facilitates streamlined and automated workflow management. By obviating the requirement for additional software installation or manual configuration file modifications, FreeCONF empowers DevOps teams to work with unprecedented efficiency and focus on mission-critical objectives.
{{% /blocks/lead %}}

{{% blocks/section %}}
If you have a questions, comments or ideas that you don't want to post in the <a href="https://github.com/orgs/freeconf/discussions">public forum</a>, please email <a href="https://www.linkedin.com/in/dhubler/">Douglas Hubler</a> at <a href="mailto:douglas@hubler.us">douglas@hubler.us</a>.
{{% /blocks/section %}}

